.ant-btn {
  border-radius: 0px;
  height: 36px;
  border: 1px solid black;
  &:hover {
    border-color: red;
  }
}

.cart-btn {
  border: 1px solid transparent;
  height: 36px;

  &:hover {
    color: red;
    border-color: red;
    background: #ffffff;
    font-weight: 600;
  }
}

.ant-modal {
  top: 0px;
  width: 70% !important;

  .ant-modal-content {
    border-radius: 0px;

    .ant-footer-modal {
      display: none !important;
    }
  }
}
